Package: ncspot
Version: 1.3.4-1
Architecture: amd64
Maintainer: Alex Long <johnalexanderlong@gmail.com>
Installed-Size: 16955
Depends: libc6 (>= 2.39), libgcc-s1 (>= 4.2), libpulse0 (>= 0.99.1), libssl3t64 (>= 3.0.0)
Section: sound
Priority: optional
Homepage: https://github.com/hrkfdn/ncspot
Description: ncurses Spotify client (upstream binary repack)
 ncspot is a cross-platform ncurses Spotify client written in Rust,
 inspired by ncmpc. Requires a Spotify Premium account.
 .
 This package repackages the upstream pre-built binary release.
