[Desktop Entry]
Type=Application
Name=Neovim
GenericName=Text Editor
Comment=Edit text files
TryExec=nvim
Exec=foot -e nvim %F
Terminal=false
Icon=nvim
Categories=Utility;TextEditor;
Keywords=Text;editor;vim;
MimeType=text/plain;text/x-makefile;text/x-c;text/x-c++;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-python;text/x-shellscript;application/x-shellscript;text/x-tcl;text/x-tex;text/markdown;application/json;text/x-yaml;text/csv;text/x-log;text/x-config;
StartupNotify=false
