#!/usr/bin/make -f
%:
	dh $@

FONT_SRC := ../paperweight-fonts/usr/share/fonts/truetype/paperweight-os/JetBrainsMonoNerdFont-Regular.ttf

override_dh_auto_build:
	@test -f $(FONT_SRC) || { \
		echo "ERROR: paperweight-fonts must be built before paperweight-grub."; \
		echo "  Expected: $(FONT_SRC)"; \
		exit 1; \
	}
	grub-mkfont -s 14 -n "Paperweight" \
		-o usr/share/grub/themes/paperweight/paperweight-14.pf2 \
		$(FONT_SRC)

override_dh_auto_clean:
	rm -f usr/share/grub/themes/paperweight/paperweight-14.pf2
